<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="user-infor-container">
            <form action="users/create-user" method="post">
                <div class="row mt-3">
                    <h3>Create new user</h3>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="mb-3 mt-3 col-6">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="pwd" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                name="password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username"
                                name="username" required>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <div class="table-users mt-3">
                <div class="row">
                    <h3>Table users</h3>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Username</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% userList.forEach(function(item,index){ %>
                            <!-- <div class="abc">
                                <%= JSON.stringify(item) %>
                            </div> -->
                            <tr>
                                <th scope="row">
                                    <%= item.id %>
                                </th>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <%= item.username %>
                                </td>
                                <td>
                                    <button class="btn btn-warning">Edit</button>
                                    <form style="display: inline;" action="/delete-user/<%= item.id %>" method="post">
                                        <button class="btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>